/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: rgb(216, 132, 132);
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

/* Form styles */
#book-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#book-form input[type="text"],
#book-form input[type="number"],
#book-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#book-form input[type="checkbox"] {
    margin-right: 10px;
}

#book-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#book-form button[type="submit"]:hover {
    background-color: #45a049;
}
